{% extends 'base.html.twig' %}

{% block title %}facturation facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

     <table class="table">
        <thead>
            <tr>
                 {# <th>n° commande</th>
                 <th>date</th>
                <th>produits</th>
                <th>prix</th>
                <th>quantite</th> #}
                 <th>adresse livraison</th> 
                 <th>adresse_facturation</th> 
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}

               {# <td>{{ commande.com_id }}</td>
               <td>{{ commande.date|date("Y-m-d H:i:s") }}</td>
                <td>{{ commande.p_nom }}</td>
                <td>{{ commande.prix }}</td>
                 <td>{{ commande.quantite }}</td> #}
                 <td>{{ commande.adresse_livraison }}</td>
                 <td>{{ commande.adresse_facturation }}</td>
                 
                  </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>


   
   
    <table class="table">
        <thead>
            <tr>
                 <th>n° commande</th>
                 <th>date</th>
                <th>produits</th>
                <th>prix</th>
                <th>quantite</th>
                 <th>adresse livraison</th> 
                 <th>adresse_facturation</th> 
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}

               <td>{{ commande.com_id }}</td>
               <td>{{ commande.date|date("Y-m-d H:i:s") }}</td>
                <td>{{ commande.p_nom }}</td>
                <td>{{ commande.prix }}</td>
                 <td>{{ commande.quantite }}</td>
                 <td>{{ commande.adresse_livraison }}</td>
                 <td>{{ commande.adresse_facturation }}</td>
                 
                  </tr>
        {# {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody> #}
    </table>
                    <a href="{{ path('app_facture_show', {'id': facture.id}) }}">show</a>
                    <a href="{{ path('app_facture_edit', {'id': facture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_facture_new') }}">Create new</a>
{% endblock %}
